$red: #e05038;
$yellow: #e6af4b;
$blue: #6e9fcf;

/* my styles */

.header {

	padding: 0;
}

.date {

	padding: 1em 0;
	font-size: 1.5em;
}

.item {

	color: inherit;
	text-decoration: none;
	display: block;	
	padding: 1.5em 0 2.5em 0;
	margin: 1em 0;
	/*border-radius: 10px;*/
	border: .2em solid;

	span {

		padding: .5em 1em 0 1em;
	}

	:focus {

		outline: 1em solid #000;
		background: #000;
	}
}

.lecture {

	background: $blue;
	border-color: darken($blue, 20%);
}

.tutorial {

	background: $yellow;
	border-color: darken($yellow, 20%);
}

.lab {

	background: $red;
	border-color: darken($red, 20%);
}

#current {

	border: .5em solid #000;
}

.time {

	float: left;
}

.location {

	float: right;
}