/*  
======================== 
- Note: These styles are just to pretty the basic page up a bit.
You should ignore these when copying and pasting into your site 
because your stylesheet should take care of making it look pretty!
======================== 
*/

body {

	padding: 2em;
	font: 100%/1.4 'Helvetica Neue', arial, helvetica, helve, sans-serif;
}

h1 {

	font-size: 2.2em;
	padding:0 0 .5em 0;
}

h2 {

	font-size: 1.5em;
}

.header {

	padding: 1em 0;
}

.col {

	/*background: #eee;*/
	padding: 1em 0;
	text-align: center;
}

/*

.date {

	padding: 1em 0;
	font-size: 1.5em;
}

.item {

	padding: 1.5em 0;
	margin: 1em 0;
	/*border-radius: 10px;*/
}

.lecture {

	background: #6E9FCF;
	border: .5em solid #6E9FCF;
}

.tutorial {

	background: #e6af4b;
	border: .5em solid #e6af4b;
}

.lab {

	background: #e05038;
	border: .5em solid #e05038;
}

#current {

	border: .5em solid #000;
}

.time {

	float: left;
}

.location {

	float: right;
}*/