$red: #e05038;
$yellow: #e6af4b;
$blue: #6e9fcf;

/* my styles */

#hidden-current {
	
	visibility: hidden;
}

.header {

	padding: 0;
}

.date {
	
	padding: 1em 0;

	h3 {

		font-size: 1.5em;
		font-weight: normal;
	}
}

.item {

	color: inherit;
	text-decoration: none;
	display: block;	
	padding: .2em 0 2.5em 0;
	margin: 1em 0;
	border: .2em solid;
	text-align: left;

	span {

		padding: .5em 1em 0 1em;

		&.type, &.time, &.location {

			float: left;
		}

		&.module {

			display: block;
		}
	}
}

.lecture {

	background: $blue;
	border-color: darken($blue, 20%);
}

.tutorial {

	background: $yellow;
	border-color: darken($yellow, 20%);
}

.lab {

	background: $red;
	border-color: darken($red, 20%);
}

#current {

	border: .5em solid #000;
}